<div class="section mb-4" style="text-align: center">
  <div class="logo" [innerHtml]="config.logoHtml|safeHtml">
  </div>
  <h2 class="header m-3" style="font-weight: 800">{{config.title}}</h2>
  <p class="text-left">{{config.summary}}</p>
  <hr class="mb-3">
  <div class="alert alert-warning text-left">This demo is showing both the lead submission and list of leads components. In a real world
    scenario, the person submitting the lead would not be seeing the list of leads.
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="section">
      <ng-container *ngIf="success">
        <div class="alert alert-success mb-4">
          <strong>CONGRATULATIONS!</strong> You have successfully submitted a lead through this contact form using Xano as
          your backend.
        </div>
      </ng-container>
      <ng-container>
        <ul class="nav nav-tabs nav-fill w-100">
          <li class="nav-item clickable">
            <a class="nav-link" [ngClass]="{'active' : activeTab == 'submit'}" (click)="setActiveTab('submit')">Lead
              Submission</a>
          </li>

          <li class="nav-item clickable">
            <a class="nav-link" [ngClass]="{'active' : activeTab == 'list'}" (click)="setActiveTab('list')">Lead
              List</a>
          </li>
        </ul>
        <div class="text-left border-bottom p-4 border-left border-right" *ngIf="activeTab == 'submit'">
          <div class="form-group">
            <label>Name</label>
            <app-form-input [form]="form" [name]="'name'" [placeholder]="'Enter your full name'" [focus]="true">
            </app-form-input>
          </div>
          <div class="form-group">
            <label>Email</label>
            <app-form-input [form]="form" [name]="'email'" [placeholder]="'Enter an email address'">
            </app-form-input>
          </div>
          <div class="form-group">
            <label>Company</label>
            <app-form-input [form]="form" [name]="'company'" [placeholder]="'optional...'">
            </app-form-input>
          </div>
          <div class="form-group">
            <label>Request</label>
            <app-form-input [form]="form" [name]="'request'" [type]='"textarea"'
              [placeholder]="'What can we help you with?'">
            </app-form-input>
          </div>
          <button type="button" (click)="submit()" class="btn btn-primary" [disabled]="saving">
            <fa-icon *ngIf="saving" [icon]="spinner" [fixedWidth]="true" [pulse]="true" class="mr-1"></fa-icon>Submit
          </button>
        </div>
        <div class="text-left border-bottom p-4 border-left border-right" *ngIf="activeTab == 'list'">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Company</th>
                <th scope="col">Request</th>
                <th scope="col">Submitted</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of leads">
                <th scope="row">{{item.name}}</th>
                <td>{{item.email}}</td>
                <td>{{item.company}}</td>
                <td>{{item.request}}</td>
                <td>{{item.created_at|date:'shortDate'}}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </ng-container>
    </div>
  </div>
</div>